<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dog Roulette.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E57C68D420C60BA40036D134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E57C68E820C60BA40036D134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E57C68F320C60BA40036D134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
